<%- include("partials/header.ejs") %>


<link href="/css/dashb.css" rel="stylesheet" type="text/css">

<!-- CHARTS SETUP -->
<script type="text/javascript" src="/js/vensim/d3io.js"></script>
<script type="text/javascript" src="/js/vensim/mdl.js"></script>
<script type="text/javascript" src="/js/vensim/vensim_wasm.js"></script>
<script>
    var mdlString = <%- JSON.stringify(mdlString) %>;
    var c0there = <%- c0there %>;
</script>

<script type="text/javascript" src="/js/vensim/customize.js"></script>
<script type="text/javascript" src="/js/vensim/variables.js"></script>
<script type="text/javascript" src="/js/vensim/loadview.js"></script>

<%- include("partials/navbar.ejs") %>

<!-- MODIFY RUNS MODAL -->
<div class="modal fade" id="modifyRunsModal" tabindex="-1" role="dialog" aria-hidden="true">
    <!-- SAVE RUN -->
    <div class="modal-dialog saveRunModal">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Save Run</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="runName" class="col-form-label">Please, choose the name of the run:</label>
                <input type="text" class="form-control" id="runName" placeholder="Run Name">
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" id="saveButton">Save</button>
        </div>
        </div>
    </div>
    <!-- DELETE RUN -->
    <div class="modal-dialog deleteRunModal">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Delete Runs</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">

            <p>Please, select the name of the runs you want to delete.</p>


        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal" id="deleteButton">Delete</button>
        </div>
        </div>
    </div>
</div>



<div class="wrapper" id="mainContainer">

    <!--  SIDE BAR  -->
    <nav id="sideBar" class="compressed nav flex-column navbar-light bg-light">
        
        <div id="sidebarCollapse" class="sidebar-header btn btn-primary" type="button">
            <div class="hint"><img  src="/img/icons/menu.svg" alt=""></div>
            <div class="compress">
                <div><h4 style="margin:0px;">Menu</h4></div>
                <div><img src="/img/icons/chevron-left.svg" alt=""></div>
            </div>
        </div>

        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link resetAll" type="button">
                    <img src="/img/icons/reset.svg" alt="">
                    <span class="compress">Reset sliders</span>
                </a>
            </li>
            <% if (dashbDiagram) { %>
            <li class="nav-item">
                <a class="nav-link" type="button" data-toggle="collapse" data-target="#diagram" aria-expanded="false" aria-controls="diagram">
                    <img src="/img/icons/eye.svg" alt="">
                    <span class="compress">Show diagram</span>
                </a>
            </li>
            <% } %>

            <li class="nav-item dropright">
                <a type="button" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="/img/icons/save.svg" alt="">
                    <span class="compress">Modify Runs</span> 
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item showSaveModal" type="button" data-toggle="modal" data-target="#modifyRunsModal">
                        New Run</a>
                    <a class="dropdown-item showDeleteModal" type="button" data-toggle="modal" data-target="#modifyRunsModal">
                        Delete Run</a>
                </div>
            </li>

            <li class="nav-item">
                <a type="button" class="nav-link customizeButton">
                    <img src="/img/icons/sliders.svg" alt="">
                    <span class="compress">Customize View</span>
                </a>
            </li>

            <!-- <li class="nav-item">
                <div class="dropright">
                    <a type="button" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="/img/icons/sliders.svg" alt="">
                        <span class="compress">Customize View</span> 
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" type="button" data-toggle="collapse" data-target=".addSliderCollapse" aria-expanded="false">
                            Sliders</a>
                        <a class="dropdown-item" type="button" data-toggle="collapse" data-target=".addChartCollapse" aria-expanded="false">
                            Charts</a>
                    </div>
                </div>
            </li> -->


<!-- 
            <li class="nav-item">
                <a class="nav-link" type="button" data-toggle="modal" data-target="#runSaveModal">
                    <img src="/img/icons/save.svg" alt="">
                    <span class="compress">Save run</span>
                </a>
            </li> -->

        </ul>
    </nav>

    <!-- CONTENT -->
    <div id="contentDiv">

        <br>
        <div id="runTalk" class="jumbotron">
            <h1>Run the model</h1>
            <p> Modify model inputs to see the change in the results.</p>
            
        </div>

        <div class="container editMode hidden saveViewButtonDiv">
            <button class="btn btn-outline-secondary btn-lg customizeButton" role="button" type="button">Back</button>
            <button class="btn btn-success btn-lg saveConfigButton" role="button" >Save View</button>
        </div>
        

        <div id="ioDiv">

            <!-- DIAGRAM -->
            <% if (dashbDiagram) { %>
                <div class="diagramDiv collapse container" id="diagram">
                    <img src="<%= dashbDiagram %>"></img>
                </div>
            <% } %>
            
            <!-- SLIDERS -->
            <div class="slidersDiv container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 row-cols-lg-6 d-flex justify-content-around">


                    <div class="col lastSlider d-flex align-items-stretch editMode hidden">
                        <div class="sliderGroup d-flex align-items-center flex-column justify-content-center addSlider addSliderHider" type="button" data-toggle="collapse" data-target=".addSliderCollapse" aria-expanded="false">
                            <label class="mx-auto"> <strong>Add Slider</strong></label>
                            <img src="/img/icons/add.svg" alt="" class="addButton mx-auto">
                        </div>
                    </div>

                </div>
            </div>


            <div class="card collapse container addSliderCollapse editMode hidden" id="sliderAdderDiv">
                <div class="card-body">
                    <h5 class="card-title">Add Slider</h5>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="sliderNameSelector">Name</label>
                        </div>
                        <select class="custom-select" id="sliderNameSelector">
                        </select>
                    </div>
                    <div class="subsGroup"></div>
                    <div class="buttonsGroup">
                        <button type="button" class="btn btn-outline-secondary addSliderHider" data-toggle="collapse" data-target=".addSliderCollapse" aria-expanded="false">
                            Back
                        </button>
                        <button id="sliderSubmit" type="button" class="btn btn-primary" data-toggle="collapse" data-target=".addSliderCollapse" aria-expanded="false">
                            Add
                        </button>
                    </div>
                </div>
            </div>

            <div class="container"><hr></div>

            <div class="chartsDiv container">
                <div class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-3 d-flex justify-content-around">

                    <div class="col lastChart editMode hidden">
                        <div class="d-flex align-items-center flex-column justify-content-center addChart addChartHider" type="button" data-toggle="collapse" data-target=".addChartCollapse" aria-expanded="false">
                            <label class="mx-auto"> <strong>Add Chart</strong></label>
                            <img src="/img/icons/add.svg" alt="" class="addButton mx-auto">
                        </div>
                    </div>

                </div>
            </div>

            <div class="card collapse container addChartCollapse editMode hidden" id="chartAdderDiv">
                <div class="card-body">
                    <h5 class="card-title">Add Chart</h5>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="sliderNameSelector">Name</label>
                        </div>
                        <select class="custom-select" id="chartNameSelector">
                        </select>
                    </div>
                    <div class="subsGroup"></div>
                    <div class="buttonsGroup">
                        <button type="button" class="btn btn-outline-secondary addChartHider" data-toggle="collapse" data-target="#chartAdderDiv" aria-expanded="false">
                            Back
                        </button>
                        <button id="chartSubmit" type="button" class="btn btn-primary" data-toggle="collapse" data-target="#chartAdderDiv" aria-expanded="false">
                            Add
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>


<!-- dynamic sidebar -->
<script type="text/javascript" src="/js/vensim/compress.js"></script>
<script type="text/javascript" src="/js/vensim/scenarios.js"></script>

<%- include("partials/footer") %> 