<%- include("partials/header.ejs") %>


<link href="/css/dashb.css" rel="stylesheet" type="text/css">

<!-- CHARTS SETUP -->
<script type="text/javascript" src="/js/vensim/charts.js"></script>
<script type="text/javascript" src="/js/vensim/sliders.js"></script>
<script type="text/javascript" src="/js/vensim/mdl.js"></script>
<script type="text/javascript" src="/js/vensim/vensim_wasm.js"></script>
<script>
    var mdlString = <%- JSON.stringify(mdlString) %>;
</script>
<script type="text/javascript" src="/js/vensim/generate.js"></script>
<script type="text/javascript" src="/js/vensim/variables.js"></script>


<%- include("partials/navbar.ejs") %>

<!-- SAVE MODAL -->
<div class="modal fade" id="runSaveModal" tabindex="-1" role="dialog" aria-labelledby="unSaveModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="unSaveModalLabel">Save Run</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="runName" class="col-form-label">Please, choose the name of the run:</label>
                <input type="text" class="form-control" id="runName" placeholder="Run Name">
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" id="saveButton">Save</button>
        </div>
        </div>
    </div>
</div>



<div class="wrapper" id="mainContainer">

    <nav id="sideBar" class="compressed nav flex-column navbar-light bg-light">
        
        <div id="sidebarCollapse" class="sidebar-header btn btn-primary" type="button">
            <div class="hint"><img  src="/img/icons/menu.svg" alt=""></div>
            <div class="compress">
                <div><h4 style="margin:0px;">Menu</h4></div>
                <div><img src="/img/icons/chevron-left.svg" alt=""></div>
            </div>
        </div>

        <!-- <div class="dropdown-divider"></div> -->
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link resetAll" type="button">
                    <!-- <i class="fas fa-fast-backward"></i> -->
                    <img src="/img/icons/reset.svg" alt="">
                    <span class="compress">Reset sliders</span>
                </a>
            </li>
            <% if (dashbDiagram) { %>
            <li class="nav-item">
                <a class="nav-link" type="button" data-toggle="collapse" data-target="#diagram" aria-expanded="false" aria-controls="diagram">
                    <!-- <i class="fas fa-project-diagram"></i> -->
                    <img src="/img/icons/eye.svg" alt="">
                    <span class="compress">Show diagram</span>
                </a>
            </li>
            <% } %>

            <li class="nav-item">
                <div class="dropright">
                    <a type="button" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <!-- <i class="fas fa-tachometer-alt"></i> -->
                        <img src="/img/icons/sliders.svg" alt="">
                        <span class="compress">Customize View</span> 
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item">Sliders</a>
                        <a class="dropdown-item">Charts</a>
                    </div>
                </div>
            </li>

            
            <li class="nav-item">
                <a class="nav-link" type="button" data-toggle="modal" data-target="#runSaveModal">
                    <!-- <i class="far fa-save"></i> -->
                    <img src="/img/icons/save.svg" alt="">
                    <span class="compress">Save run</span>
                </a>
            </li>
        </ul>
    </nav>

    <div id="contentDiv">

        <br>
        <div id="runTalk" class="jumbotron">
            <h1>Run the model</h1>
            <p> Modify model inputs to see the change in the results.</p>
        </div>


        <div id="ioDiv">

            <% if (dashbDiagram) { %>
                <div class="diagramDiv collapse container" id="diagram">
                    <img src="<%= dashbDiagram %>"></img>
                </div>
            <% } %>

            <div class="slidersDiv container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 row-cols-lg-6 d-flex justify-content-around">
                    <div class="col d-flex align-items-stretch">
                        <div class="sliderGroup d-flex align-items-start flex-column justify-content-center addSlider" type="button" data-toggle="collapse" data-target="#sliderAdderDiv" aria-expanded="false">
                            <label class="mb-auto mx-auto"> <strong>Add Slider</strong></label>
                            <img src="/img/icons/add.svg" alt="" class="addButton mx-auto">
                        </div>
                    </div>
                </div>
            </div>


        <div class="card collapse container" id="sliderAdderDiv">
                <div class="card-body">
                    <h5 class="card-title">Add Slider</h5>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="sliderNameSelector">Name</label>
                        </div>
                        <select class="custom-select" id="sliderNameSelector">
                        </select>
                    </div>
                    <div class="subsGroup"></div>
                    <div class="buttonsGroup">
                        <button type="button" class="btn btn-outline-secondary" data-toggle="collapse" data-target="#sliderAdderDiv" aria-expanded="false">
                            Back
                        </button>
                        <button id="addSliderSubmit" onclick="sendSliderForm()" type="button" class="btn btn-primary">Add</button>
                    </div>
                </div>
            </div>

            <div class="container"><hr></div>

            <div class="chartsDiv container">
                <div class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-3 d-flex justify-content-around">
                    
                </div>
            </div>

        </div>
    </div>

</div>


<!-- dynamic sidebar -->
<script type="text/javascript" src="/js/vensim/compress.js"></script>

<%- include("partials/footer") %> 