<%- include("partials/header.ejs") %>
<%- include("partials/navbar.ejs") %>

<div class="jumbotron">
    <!-- TITLE -->
    <h1 class="display-2"><%= pagesText.title %></h1>

    <!-- SUBTITLE -->
    <p class="display-4 lead"> Welcome to the <%= pagesText.title %> Simulator </p>

    <!-- LEAD -->
    <p class="lead">This application simulates scenarios with the <%= pagesText.title %> system-dynamics model. </p>
    
    <!-- TEXT -->
    <p><%= pagesText.intro %></p>

    <hr class="my-4">
    <p>Run the model to get started.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="/run" role="button">Run Model</a>
    </p>
</div>

<%- include("partials/footer") %> 