<%- include("partials/header.ejs") %>
<%- include("partials/navbar.ejs") %>

<div class="jumbotron">
    <h1 class="display-2"><%= sdTitle %></h1>
    <p class="display-4 lead"> Welcome to the <%= sdTitle %> Simualotor </p>
    <p class="lead">This application simulates scenarios with the <%= sdTitle %> system-dyanmics model. </p>
    <p><%= introText %> </p>
    <hr class="my-4">
    <p>Run the model to get started.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="/run" role="button">Run Model</a>
    </p>
</div>

<%- include("partials/footer") %> 