<%- include("partials/header.ejs") %>
<%- include("partials/navbar.ejs") %>

<div class="jumbotron">
    <div class="container">

        <h2 class="display-4">Thank you for visiting us</h2>


        <hr class="my-4">
        <p class="lead">Here are some useful links to learn more:</p>
        <ul>
            <!-- <li> Vensim: <a href="http://vensim.com/">here</a> </li> -->
            <% for (var key in pagesText.links ) { %>
                <li><%= key %>: <a href="<%=pagesText.links[key]%>">here</a> </li>
            <% } %>
        </ul>

    </div>
</div>

<%- include("partials/footer") %> 
