<%- include("partials/header.ejs") %>

<link rel="stylesheet" href="css/setup.css">
<link href="/css/tabs.css" rel="stylesheet" type="text/css">
<link href="/css/inputCard.css" rel="stylesheet" type="text/css">

<script type="text/javascript" src="/js/vensim/d3io.js"></script>
<script type="text/javascript" src="/js/vensim/mdl.js"></script>
<script type="text/javascript" src="/js/vensim/vensim_wasm.js"></script>
<script>
    var mdlString = <%- JSON.stringify(mdlString) %>;
    var c0there = <%- c0there %>;
</script>
<script type="text/javascript" src="/js/vensim/variables.js"></script>

<script src="js/utils/jsonForm.js"></script>
<script src="js/setup/customize.js"></script>

<%- include("partials/navbar.ejs") %>

<div class= "container mainContainer">
    <h3>Setup</h3>
    <p>Answer a few questions to define the baseline scenario.</p>
    <p>The baseline is the default scenario, any change in inputs would generate a new scenario to be compared against the baseline.</p>
    <button type="button" class="customizeButton editMode btn btn-outline-primary designerMode">Customize Setup</button>
    
    
    <button type="button" class="customizeButton editMode editModeHidden btn btn-outline-secondary designerMode">Back</button>
    <button type="button" class="saveSetup editMode editModeHidden btn btn-success designerMode">Save Setup</button>
    <br><br>

    <ul class="nav nav-tabs tabsBar" role="tablist">
        <!-- <li class="nav-item">
            <a class="nav-link active" id="tab1" data-toggle="tab" href="#pane1" role="tab" >Main</a>
            <input type="text" name="nameTab1" id="#nameTab1" class="hidden nav-link" value="Main">
        </li> -->

        <li class="nav-item lastTab editMode editModeHidden">
            <a class="nav-link" data-toggle="tab" role="tab" href="#">
                Add <img src="/img/icons/add.svg" alt="" class="addTabButton mx-auto">
            </a>
        </li>
    </ul>

    <div class="tab-content" id="tabContent">
        <!-- <div class="tab-pane fade show active" id="pane1" role="tabpanel">
            <br>
            <h4>Tab 1</h4>
            <p>Add input elements to enable the user to setup the model.</p>
            <p>Each input element is made up of a label (which can be a question) and the input for the constant.</p>

            <button type="button" class="btn btn-outline-secondary addInput addInputHider editMode hidden" data-toggle="collapse" data-target=".inputAdderDiv" aria-expanded="false">
                New Input
            </button>

            
            <div class="card collapse container inputAdderDiv editMode hidden">
                <div class="card-body">
                    <h5 class="card-title">Add Input</h5>

                    <div class="form-group">
                        <label>Question</label>
                        <input type="text" class="form-control" placeholder="Enter question">
                        <small class="form-text text-muted">The question to the user represented by the input</small>
                    </div>

                    <label>Variable</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label class="input-group-text">Name</label>
                        </div>
                        <select class="custom-select inputNameSelector">
                        </select>
                    </div>
                    <small class="form-text text-muted">The model variable set by this input</small>
                    

                    <div class="subsGroup"></div>

                    <br>
                    <div class="buttonsGroup">
                        <button type="button" class="btn btn-outline-secondary addInputHider" data-toggle="collapse" data-target=".inputAdderDiv" aria-expanded="false">
                            Back
                        </button>
                        <button type="button" class="btn btn-primary inputSubmit" data-toggle="collapse" data-target=".inputAdderDiv" aria-expanded="false">
                            Add
                        </button>
                    </div>
                </div>
            </div>

        </div> -->


    </div>

    <div class="container" style="text-align: center;">
        <br>
        <hr>

        <button type="button" class="setBaseline btn btn-lg btn-primary">Set Baseline</button>
    </div>
    

</div>

<script src="js/utils/tabs.js"></script>
<script src="js/utils/inputCard.js"></script>
<script src="js/setup/loadsetup.js"></script>

<%- include("partials/footer") %> 